<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="wz.test.jdk.http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="wz.test.jdk.http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="wz.test.jdk.http://xmlns.jcp.org/xml/ns/javaee wz.test.jdk.http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

   <filter>
      <filter-name>LogFilter</filter-name>
      <filter-class>wz.test.servlet.LogFilter</filter-class>
      <init-param>
         <param-name>Site</param-name>
         <param-value>菜鸟教程</param-value>
      </init-param>
   </filter>

   <wz.test.servlet>
      <wz.test.servlet-name>redirect</wz.test.servlet-name>
      <wz.test.servlet-class>wz.test.servlet.RedirectServlet</wz.test.servlet-class>
   </wz.test.servlet>

   <wz.test.servlet>
      <wz.test.servlet-name>redirect2</wz.test.servlet-name>
      <wz.test.servlet-class>wz.test.servlet.RedirectServlet2</wz.test.servlet-class>
      <init-param>
         <param-name>abc</param-name>
         <param-value>123</param-value>
      </init-param>
   </wz.test.servlet>

   <wz.test.servlet>
      <wz.test.servlet-name>seterror</wz.test.servlet-name>
      <wz.test.servlet-class>wz.test.servlet.SetErrorCodeServlet</wz.test.servlet-class>
   </wz.test.servlet>

   <wz.test.servlet>
      <wz.test.servlet-name>sessionTrack</wz.test.servlet-name>
      <wz.test.servlet-class>wz.test.servlet.SessionTrack</wz.test.servlet-class>
   </wz.test.servlet>

   <wz.test.servlet>
      <wz.test.servlet-name>loginServlet</wz.test.servlet-name>
      <wz.test.servlet-class>wz.test.servlet.LoginServlet</wz.test.servlet-class>
   </wz.test.servlet>




   <!--mapping-->
   <wz.test.servlet-mapping>
      <wz.test.servlet-name>sessionTrack</wz.test.servlet-name>
      <url-pattern>/session</url-pattern>
   </wz.test.servlet-mapping>

   <wz.test.servlet-mapping>
      <wz.test.servlet-name>loginServlet</wz.test.servlet-name>
      <url-pattern>/login</url-pattern>
   </wz.test.servlet-mapping>


   <filter-mapping>
      <filter-name>LogFilter</filter-name>
      <url-pattern>/index.html</url-pattern>
   </filter-mapping>
   <wz.test.servlet>
      <!-- 类名 -->
      <wz.test.servlet-name>DisplayHeader</wz.test.servlet-name>
      <!-- 所在的包 -->
      <wz.test.servlet-class>wz.test.servlet.DisplayHeader</wz.test.servlet-class>
   </wz.test.servlet>
   <wz.test.servlet-mapping>
      <wz.test.servlet-name>DisplayHeader</wz.test.servlet-name>
      <!-- 访问的网址 -->
      <url-pattern>/displayHeader</url-pattern>
   </wz.test.servlet-mapping>

   <wz.test.servlet-mapping>
      <wz.test.servlet-name>redirect</wz.test.servlet-name>
      <url-pattern>/a</url-pattern>
   </wz.test.servlet-mapping>
   <wz.test.servlet-mapping>
      <wz.test.servlet-name>seterror</wz.test.servlet-name>
      <url-pattern>/error</url-pattern>
   </wz.test.servlet-mapping>

   <wz.test.servlet-mapping>
      <wz.test.servlet-name>redirect2</wz.test.servlet-name>
      <url-pattern>/b/b</url-pattern>
   </wz.test.servlet-mapping>

   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
   </welcome-file-list>
</web-app>